@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Kalam:wght@700&display=swap');

img{
    border-radius: 30px;
}

p{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    font-weight: 300;  
}

h1{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Kalam', cursive;
   
}

.herocontainer{
    background-image: url("hero-img_upscaled.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: fill;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Kalam', cursive;
}

.herocontainer h1{
    font-size: 100px;
    color: rgb(252, 122, 0);
    text-shadow: 0 3px 5px rgb(0, 0, 0);
}

.herocontainer p{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-shadow: 0 3px 5px rgb(255, 255, 255);

}

.herocontainer button{
    background-color:  rgb(226, 142, 68); 
    width: 130px;
    height: 50px;
    border-radius: 15px;
}

.cintir{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen AND (max-width: 390px){
    .herocontainer h1 {
        font-size: 70px;
        text-align: center;
    }

    .herocontainer p {
        font-size: 18px;
        text-align: center;
    }

    p{
        text-align: center;
    }

    h1{
        font-size: 40px;
    }
}

/* Style the modal container */
.modal {
    display: none; /* Hide the modal by default */
    position: fixed; /* Position the modal relative to the viewport */
    z-index: 1; /* Make sure it appears on top of other elements */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scrolling if the content exceeds the viewport height */
    background-color: rgba(0, 0, 0, 0.4); /* Add a semi-transparent background overlay */
  }
  
  /* Style the modal content */
  .modal-content {
    background-color: #fefefe75;
    margin: 15% auto; /* Center the modal vertically and horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
  }
  
  /* Style the close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Style the close button on hover */
  .close:hover {
    color: #000;
  }
  